<h1><%= E[:title] %></h1>

<% today = Date.today %>
<div class="boxes">
  <div class="box">
    <h2>Latest Posts</h2>
    <table>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, admin_post_path(post) %></td>
        <td class="light"><%= post.published_at.strftime("%b %e#{', %Y' unless post.published_at.year == today.year}") %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
