<h1>Stats</h1>

<div class="box">
  <table>
    <tr><td>Posts</td><td><%= @posts %></td></tr>
    <tr><td>Comments</td><td><%= @comments %></td></tr>
    <tr><td>Tags</td><td><%= @tags %></td></tr>
  </table>
</div>
