body {
  margin: 0px;
  padding: 0px;
}
body, textarea {
  font-family: Helvetica, Sans-serif;
  font-size: 10pt;
}

h1, h2, h3 {
  color: #222;
  margin-bottom: 5px;
}

.light { color: #777 }

/* Forms */
#new_comment label { margin-left: 1em }
#new_comment textarea { height: 120px; width: 400px }
