body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding: 15px;
  font-weight: 300;
}

h1 { font-size: 20px }
h1, h2, h3, h4 {
  margin: 0;
}

a { text-decoration: none }

strong { font-weight: bold }

pre {
  white-space: pre-wrap;
  padding: 10px;
  background-color: #eee;
}

blockquote {
  font-style: italic;
}

hr {
  border: 0;
  height: 1px;
  background-color: #444;
}


header, footer, section, article { display: block }

#dox {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 220px;
  border-right: 1px solid #aaa;
  padding-top: 30px;
  margin: 0;
  min-height: 400px;
}

#dox a {
  color: #222;
}
#dox a:hover { border-bottom: 1px dotted #444 }

#links {
  margin-top: 100px;
  font-size: 85%; 
}

#main-container { margin-left: 250px; }

#main {
  margin: 0 auto 50px auto;
  width: 800px;
}

#main a { color: #e78305; font-weight: bold }

article a:hover { text-decoration: underline }
article header h2 a:hover { text-decoration: none }
article .content h3, article .content h4 { color: #2c2c2c }

article p { margin: 24px 0 }
article .content p:first-child, article .content h3 + p, article .content h4 + p { margin-top: 10px }
article .content p:last-child { margin-bottom: 0 }

.post {
  margin-bottom: 30px;
}
.post:last-child { margin-bottom: 10px }

.comment {
  margin-bottom: 20px;
  padding-left: 15px;
  border-left: 3px solid #e78305;
}

#new_comment label { margin-left: 1em }
#new_comment textarea { height: 120px; width: 400px }

.sink {
  position: absolute;
  bottom: 30px;
}

.meta {
  font-size: 80%;
  color: #8c8c8c;
}

.hidden, .small { display: none; }

/* responsiveness */

@media (max-width: 1075px) {
  #main {
    margin: 0 auto 50px auto;
    width: 100%;
  }
}

@media (max-width: 760px) {

  .large { display: none; }
  .small { display: block; }
  
  .post { padding-left: 15px; }
  
  h1 { font-size: 24px; }
  h2 { font-size: 20px; }
  
  #dox {
    padding-left: 20px;
    position: fixed;
    top: 0;
    min-height: 70px;
    height: 70px;
    border-bottom: 1px solid #aaa;
    width: 100%;
    background-color: #fff;
  }
  
  #dox p {
    position: relative;
    bottom: 12px;
    font-size: 120%;
  }
  
  #links-small {
    position: absolute;
    top: 30px;
    right: 45px;
  }
  
  #links-small .link {
    padding: 3px 10px;
    border-radius: 20px;
    border: 3px solid #ddd;
  }
  
  #links-small .link:hover {
    background-color: #ddd;
  }
  
  pre code { 
    font-size: 10px;
    line-height: 12px;
  }
  
  #main {
    margin: 110px 10px 50px 0;
    width: 100%;
  }
  
  #main-container {
    margin: 0 10px 0 5px;
  }
  
  body { padding: 0; margin: 0; }
  
  #bars {
    position: absolute;
    top: 28px;
    left: 110px;
  }
}

@media (max-width: 500px) {
  #links-small { display: none; }
  #toto-creds { display: none; }
}

